.border {
    border: 2px solid white;
    margin: 3px;
}

.flex {
    display: flex;
}

.justtify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.rounded {
    border-radius: 7px;
}

.m1 {
    margin: 5px;
}

.p1 {
    padding: 10px;
}


/* Webkit Browsers (Chrome, Safari, Edge) */

::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

 ::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* Dark background for the scrollbar track */
}

 ::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Scrollbar thumb color */
    border-radius: 6px;
    /* Rounded scrollbar edges */
    border: 3px solid #1e1e1e;
    /* Space between the thumb and track */
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    /* Thumb color on hover */
}


/* Firefox */

* {
    scrollbar-width: thin;
    /* Thinner scrollbar */
    scrollbar-color: #555 #1e1e1e;
    /* Thumb color #555, track color #1e1e1e */
}

.dec {
    list-style-type: decimal;
}